:root {
  --kvaser-primary-red: #e4002b;
  --kvaser-primary-green: #87D300;
  --kvaser-secondary-main-gray: #F3F4F6;
  --kvaser-secondary-main-gray-lighter: #F9FAFB;
  --kvaser-secondary-main-gray-darker: #E5E6EA;
  --kvaser-secondary-gray: #9CA3AF;
  --kvaser-secondary-gray-lighter: #D1D5DB;
  --kvaser-secondary-gray-darker: #6C717F;
  --kvaser-secondary-text-color: #1F2937;
  --kvaser-secondary-text-color-medium: #374151;
  --kvaser-secondary-text-color-lighter: #4B5563;
  --kvaser-secondary-button-hover-red: #FF0030;
  --kvaser-secondary-button-hover-green: #A2DD39;
  --kvaser-secondary-black: #101010;
  --kvaser-secondary-white: #FFFFFF;
}

.check-icon-green {
  filter: invert(75%) sepia(40%) saturate(2966%) hue-rotate(34deg) brightness(97%) contrast(101%);
  margin-left: 37%;
}

.wy-nav-side > div, .wy-nav-content > div {
  word-wrap: break-word;
}

.wy-nav-content {
  min-width: 100%;
}
